.slider {
    position: relative;
    width: 560px;

    &__item {}

    .slick-arrow {
        position: absolute;
        top: 50%;
        margin-top: -16px;
        z-index: 10;
        font-size: 0;
    }

    .slick-prev {
        left: 0;
        background: url('../images/sprite.svg#arrow-left') no-repeat center;
        width: 32px;
        height: 32px;
    }

    .slick-next {
        right: 0;
        background: url('../images/sprite.svg#arrow-right') no-repeat center;
        width: 32px;
        height: 32px;
    }

    .slick-dots {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .slick-dots li {
        margin: 0 10px;
    }

    .slick-dots button {
        font-size: 0;
        width: 10px;
        height: 10px;
        background-color: #000;
        border-radius: 50%;
    }

    .slick-active button {

        background-color: red;

    }
}